.home-container {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/825/526/337/socrates-painting-greek-philosophers-jacques-louis-david-wallpaper-preview.jpg');
}
.home-hero {
  width: 100%;
  height: 850px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.home-cta-btn {
  top: 474px;
  left: 464px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn1 {
  top: 572px;
  left: 500px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn2 {
  left: 477px;
  color: var(--dl-color-gray-white);
  bottom: 110px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn3 {
  top: 473px;
  color: var(--dl-color-gray-white);
  right: 141px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn4 {
  top: 574px;
  color: var(--dl-color-gray-white);
  right: 119px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn5 {
  top: 474px;
  left: 115px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn6 {
  top: 571px;
  left: 116px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn7 {
  left: 94px;
  color: var(--dl-color-gray-white);
  bottom: 120px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-heading {
  top: -196px;
  left: 51px;
  color: rgb(135, 130, 130);
  width: auto;
  position: absolute;
  font-size: 4em;
  font-style: italic;
  text-align: center;
  font-family: Poppins;
  font-weight: 900;
  line-height: 10;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
